<div class="widgets" ng-controller="uploadCsvFileCtrl">
    <div class="row">
        <div class="col-lg-12" ba-panel>
            <div class="input-group">
                <input type="text" class="form-control with-danger-addon" placeholder="File" id="fileName" ng-model="fileNameModel">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="selectFile()" type="file">Select File...</button>
                    <input type="file" ng-show="false" id="uploadFile" ng-file-select="uploadFile(file)" accept=".text/csv">
                </span>
            </div>

            <button class="btn btn-sm btn-primary" type="file" ng-click="uploadFile(file)">
                Upload File
            </button>

            <hr/>
            <div class="progress-info">Your upload is {{progress}}% complete</div>
            <div class="progress">
                <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
                </div>
            </div>

        </div>
    </div>
</div>