<div class="widgets" ng-controller="inspectionFormCtrl">

    <div class="row">
        <div class="col-lg-12" ba-panel>
            <h3 class="text-center">
                <button ng-click="showPrevious()" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-arrow-left"></span> </button>
                {{currentDates[currentDate]}}
                <button ng-click="showNext()" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-arrow-right"></span> </button>
            </h3>
            <h3 class="text-center">
                {{now}}
            </h3>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" ba-panel>
            <form>
                <div class="row input-row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">Tracktor / Truck No</span>
                            <input id="msg" type="text" class="form-control" name="msg" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">Odometer Reading</span>
                            <input id="msg" type="text" class="form-control" name="msg" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="checkbox-column" ng-repeat="option in tractorOptions | filter: { column: 1 }">
                                    <input
                                            type="checkbox"
                                            value="{{option.name}}"
                                            ng-checked="isChecked(option.name)"
                                            ng-click="toggleSelection(option.name)">
                                    {{option.name}}
                                    <div ng-if="option.extra">
                                        <div ng-repeat="extra in option.extra" style="padding-left:3em">
                                            {{extra}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkbox-column" ng-repeat="option in tractorOptions | filter: { column: 2 }">
                                    <input
                                            type="checkbox"
                                            value="{{option.name}}"
                                            ng-checked="isChecked(option.name)"
                                            ng-click="toggleSelection(option.name)">
                                    {{option.name}}
                                    <div ng-if="option.extra">
                                        <div ng-repeat="extra in option.extra" style="padding-left:3em">
                                            {{extra}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkbox-column" ng-repeat="option in tractorOptions | filter: { column: 3 }">
                                    <input
                                            type="checkbox"
                                            value="{{option.name}}"
                                            ng-checked="isChecked(option.name)"
                                            ng-click="toggleSelection(option.name)">
                                    {{option.name}}
                                    <div ng-if="option.extra">
                                        <div ng-repeat="extra in option.extra" style="padding-left:3em">
                                            {{extra}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group ng-scope">
                        <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">
                            Trailer(s) No.(s)
                        </span>
                        <input type="text" class="form-control with-primary-addon" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="checkbox-column" ng-repeat="option in trailerOptions | filter: { column: 1 }">
                            <input
                                    type="checkbox"
                                    value="{{option.name}}"
                                    ng-checked="isChecked2(option.name)"
                                    ng-click="toggleSelection2(option.name)">
                            {{option.name}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox-column" ng-repeat="option in trailerOptions | filter: { column: 2 }">
                            <input
                                    type="checkbox"
                                    value="{{option.name}}"
                                    ng-checked="isChecked2(option.name)"
                                    ng-click="toggleSelection2(option.name)">
                            {{option.name}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox-column" ng-repeat="option in trailerOptions | filter: { column: 3 }">
                            <input
                                    type="checkbox"
                                    value="{{option.name}}"
                                    ng-checked="isChecked2(option.name)"
                                    ng-click="toggleSelection2(option.name)">
                            {{option.name}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="remarks">Remarks</label>
                    <textarea class="form-control" rows="5" id="remarks"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>

</div>