<div class="widgets" ng-controller="logCtrl">

    <div class="row">
        <div class="col-lg-12" ba-panel>
            <h3 class="text-center">
                <button ng-click="showPrevious()" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-arrow-left"></span> </button>
                {{currentDates[currentDate]}}
                <button ng-click="showNext()" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-arrow-right"></span> </button>
            </h3>
            <h3 class="text-center">
                {{now}}
            </h3>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12"
             ba-panel
             ba-panel-title="Bar Chart"
             ba-panel-class="with-scroll">

            <nvd3-line-chart
                    data="exampleData"
                    id="interpolateExampleStep"
                    height="350"
                    xAxisTickFormat="xAxisTickFormatFunction()"
                    yAxisTickFormat="yAxisTickFormatFunction()"
                    showXAxis="true"
                    showYAxis="true"
                    interpolate="step">
                <svg></svg>
            </nvd3-line-chart>

        </div>
    </div>

    <div class="row">

        <div class="col-md-12"
            ba-panel>
            <div class="button-wrapper">
                <button type="button" class="btn btn-primary">Off Duty</button>
                <button type="button" class="btn btn-primary">On Duty</button>
                <button type="button" class="btn btn-primary">Sleeper Berth</button>
            </div>
            <div>
                <div class="alert bg-danger">
                    <strong>Violations: 2</strong>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12"
             ba-panel
             ba-panel-title="Bar Chart"
             ba-panel-class="with-scroll">



            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Event</th>
                        <th>Start EST</th>
                        <th>Duration</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="item in reportResults">
                        <td>{{item.event}}</td>
                        <td>{{item.start_at | date:'medium'}}</td>
                        <td>{{item.duration}}</td>
                        <td>{{item.location}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" ba-panel>
            <div class="button-wrapper">
                <button type="button" class="btn btn-primary">Download PDF</button>
                <button type="button" class="btn btn-primary">Send Email</button>
            </div>
        </div>
    </div>

</div>
